/*
Font Manifest:
    font-family: 'Roboto Mono', monospace;
*/

body{
  /*gradient needs to change either side of 20C*/
  background-color: yellow;
  font-family: 'Roboto Mono', monospace;
  font-style: thin;
  color: white;
}

main{
  margin-top: 10%;
}

h1{
  margin-bottom: 10%;
}

.linear-gradient {
    background: linear-gradient(to bottom, red, yellow);
    height: 700px;
}

.info-box{
  margin-top: 10%;
}

.form-control{
  color: white;
  background-color: transparent;
}
.btn-primary-outline{
  font-style: medium;
  font-family: 'Roboto Mono', monospace;
  border-color: transparent;
  background-color: transparent;
  color: grey;
  padding-bottom: 6px;
}

.btn-primary-outline:hover{
  border-color: transparent;
  color: grey;
  background-color: rgba(255,255,255,0.07);
}
.btn-primary-outline:active{
  background-color: transparent;
}
.btn-primary-outline:focus{
  color: grey;
}

.CF{
  font-size: 11pt;
}

.btn-search{
  color: grey;
}

.temp-span .btn-group{
  display: inline-block;
}
